<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div class="main">
    <div class="top myFiex_X">
        <div class="log"></div>
        <div class="city myFiex_X">武汉&#9660;</div>
        <div class="nav">
            <ul class="myFiex_X">
                <li style="background-color:red; color: white" class="myFiex_X">首页</li>
                <li class="myFiex_X">电影</li>
                <li class="myFiex_X">影院</li>
                <li class="myFiex_X">演出</li>
                <li class="myFiex_X">榜单</li>
                <li class="myFiex_X">热点</li>
                <li class="myFiex_X">商城</li>
            </ul>
        </div>
        <div class="app"></div>
        <div class="search myFiex_X" >
<!--            <form method="get" action="#">-->
            <input placeholder="找影视剧，影院，影人" type="text" class="getMovie">
            <input type="submit" value="" class="sub">
<!--            </form>-->
        </div>
        <div class="user"></div>
    </div>
    <div class="content"></div>
    
</div>
</body>
</html>